@keyframes photoshopIcon {
    0%
    {
        transform: skew(347deg, 351deg);
    }
    30%
    {
        transform: skew(342deg, 345deg);
    }
    60%
    {
        transform: skew(342deg, 355deg);
    }
    100%
    {
        transform: skew(347deg, 351deg);
    }
}